<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Scheduler</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
    <script src="~/src/devextreme-license.js"></script>
    <style>
        /* ==================== LAYOUT & CONTAINER ==================== */
        .full-height-container {
            height: calc(100vh - 60px);
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
        }

       
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <nav class="navbar">
      
    </nav>
    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
